/* Make the images smoothly change size */


body {
	background: #eee;
}

#dangular_image_grid li {
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
  padding-left: 0;
  padding-bottom: 10px;
}
